<section class="legacy-panel">
  <h1>Legacy Pages</h1>
  <p>Migrated as Angular 19 standalone components:</p>

  <ul>
    <li><a routerLink="/legacy-pages/index">index.html</a></li>
    <li><a routerLink="/legacy-pages/hello">hello.html</a></li>
    <li><a routerLink="/legacy-pages/bind">bind.html</a></li>
    <li><a routerLink="/legacy-pages/init">init.html</a></li>
    <li><a routerLink="/legacy-pages/scope">scope.html</a></li>
    <li><a routerLink="/legacy-pages/rootscope">rootscope.html</a></li>
    <li><a routerLink="/legacy-pages/innerscope">innerscope.html</a></li>
    <li><a routerLink="/legacy-pages/pattern">pattern.html</a></li>
    <li><a routerLink="/legacy-pages/require">require.html</a></li>
    <li><a routerLink="/legacy-pages/notoptions">notoptions.html</a></li>
    <li><a routerLink="/legacy-pages/modeloptions">modeloptions.html</a></li>
    <li><a routerLink="/legacy-pages/calculator">calculator.html</a></li>
    <li><a routerLink="/legacy-pages/mydirective">mydirective.html</a></li>
    <li><a routerLink="/legacy-pages/myform">myform.html</a></li>
    <li><a routerLink="/legacy-pages/behaviorsubject-simpleexample">behaviorsubject-simpleexample.ts</a></li>
    <li><a routerLink="/legacy-pages/webinfo">webinfo</a></li>
  </ul>
</section>
